
/*--------------------
   Nav bar 
   ---------------------*/
.nav {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    top: 0;
    height: 80px;
    width: 100%;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color:blue;
    padding: 20px 20px 20px 30px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    padding: 20px 30px 20px 0px;
    display: inline;
    margin-right: 40px ;
    float: right;
    font-size: 30px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    align-items: center;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      text-align: center;
        text-decoration: none;
        white-space: nowrap;
      vertical-align: middle;
        cursor: pointer;
        font-family: inherit;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  .ec-nav .navbar {
    position: static;
  }
  .p-0 {
    padding: 0!important;
  }





  /*--------------------
   shopcart //product display
   ---------------------*/
  .shop-card-single {
    height: 500px;
    width: 60%;
    background: white;
    position: relative;
    margin-top: calc(50vh - 250px);
  }
  .shop-card-single.action {
    animation: bounce 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  }
  .shop-card-single .header {
    height: 40px;
    position: relative;
    padding: 20px;
  }
  .shop-card-single .header .back {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 30px solid #47be73;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #47be73;
    border-right: 30px solid transparent;
  }
  .shop-card-single .header .back:before {
    content: "â†";
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.3rem;
    font-weight: bold;
    top: -22px;
    left: -22px;
  }
  .shop-card-single .main {
    padding: 0 30px;
  }
  .shop-card-single .main .quantity {
    margin-top: 40px;
    color: #333;
  }
  .shop-card-single .main h1 {
    font-size: 4.5rem;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0 -5px -15px;
    color: #232e3a;
  }
  .shop-card-single .main h2 {
    color: #999;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0 0;
    text-transform: uppercase;
  }
  .shop-card-single .main h3 {
    color: #232e3a;
    margin: 0;
  }
  .shop-card-single .main img {
    max-width: 100%;
    margin-left: -25px;
  }
  .shop-card-single .main .left, .shop-card-single .main .right {
    width: 40%;
    padding: 0 calc(5% - 1px);
  }
  .shop-card-single .main .right {
    color: #999;
    font-size: 0.78rem;
    line-height: 1.5;
  }
  .shop-card-single .footer {
    position: absolute;
    bottom: 0;
    padding: 5px 40px 5px 0;
    width: calc(90% - 40px);
    left: 10%;
    border-top: 1px solid #ccc;
  }
  .shop-card-single .footer .left p:before {
    content: "Total Price";
    text-transform: uppercase;
    font-size: 0.7rem;
    color: black;
    position: absolute;
    top: -12px;
    width: 200%;
  }
  .shop-card-single .footer p {
    color: #47be73;
    position: relative;
    font-size: 1.5rem;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .btn-danger {
      background-color: #d71149;
      border-color: #d71149;
  }
  
  .card {
      border: none;
  }
  
  
  .btn-group-lg>.btn,
  .btn-lg {
      border-radius: none;
  }
  
  
  /*--------------------
   Footer section
   ---------------------*/

  .footer__page{
    background-color: #15141f;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: hsla(0, 0%, 100%, .6);
    width: 100%;
}
.footer__page a{
    color: hsla(0, 0%, 100%, .6) !important;
}
.footer__page li {
    color: hsla(0, 0%, 100%, .6);
}
.container__styles{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width:48rem){
    .container__styles {
        justify-content: space-between;
        flex-direction: row;
    }
    .container__styles>div {
        margin-bottom: 0;
    }
    .container__styles>div:nth-of-type(2) {
        justify-content: center;
    }
}
.container__styles > div:first-of-type , .container__styles > div:last-of-type{
    flex-basis: 25%;
}
.container__styles>div{
    margin-bottom: 1.5rem;
}
.container__styles>div:nth-of-type(2) {
    flex-basis: 50%;
    display: flex;
}
svg:not(:root) {
    overflow: hidden;
}
.linkList__styles{
    display: flex;
    flex-direction: column;
    justify-self: end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.linkList__styles a{
    color: #141c3a;
}
@media only screen and (min-width:48rem) {
    .linkList__styles {
        flex-direction: row;
        align-items: center;
    }
    .linkList__styles>li+li{
        margin-left: 3rem;
    }
}
.social__listStyles{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
}
.social__listStyles li+li{
    margin-left: 1.5rem;
}
@media only screen and (min-width:48rem) {
    .social__listStyles {
        justify-content: flex-end;
    }
}