body {
    background: linear-gradient(180deg, #3F65B3 0%, rgba(196, 196, 196, 0) 56.77%);
    font-size:16px;
    font-family:"Open Sans",Arial,sans-serif;
    color:#444;
  }
  /* Rectangle */
  
  
.topburner{
    height: 20%;
    width: auto;
    
    background: linear-gradient(90deg, #3F65B3 0%, rgba(196, 196, 196, 0) 56.77%);
    mix-blend-mode: multiply;

}
.topburner .headline{
    
    padding-left: 10.13%;
    padding-right: 37.47%;
    
  }
  .topburner .headline h1{
    
    padding-left: 10.2%;
    padding-right: 37.47%;
    
    
    
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 80px;
    
    color: #FFFFFF;
  }
    
.topburner .header p{
    position:absolute;
        left: 10.13%;
        right: 64.68%;
        top: auto;
        bottom: auto;

        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 37px;
        letter-spacing: 4px;
        text-transform: uppercase;

        color: #F4F4ED;
  }
  h1,h2,h3,h4,h5,h6 {
    color:#152732;
    font-weight: normal;
    line-height: 1.3;
    margin:0.5rem 0;  
  }
  h1 {font-size:2.7rem;}
  h2 {font-size:2.2rem;}  
  h3 {font-size:1.8rem;}  
  h4 {font-size:1.4rem;}  
  h5 {font-size:1.1rem;}  
  h6 {font-size:0.9rem;}    
  a, a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    color:#9BB800;
    transition:color 0.20s linear 0s;
    -o-transition:color 0.20s linear 0s;
    -ms-transition:color 0.20s linear 0s;
    -moz-transition:color 0.20s linear 0s;
    -webkit-transition:color 0.20s linear 0s;
  }  
  a:hover {color:#B6C900;}
  p,li,dl,blockquote,table,kbd {
    font-size: 0.85rem;
    line-height: 1.6;
  }
  b,strong {font-weight:700;}
  .text-center {text-align:center!important;}
  .text-right {text-align:right!important;}
  img {
    border:0;
    display:inline-block;
    height:auto;
    max-width:100%;
    width:auto;
  }
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }
  .clearfix {
    overflow: auto;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  
/*--------------------
   Nav bar 
   ---------------------*/
.nav {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    top: 0;
    height: 80px;
    width: 100%;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color:blue;
    padding: 20px 20px 20px 30px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    padding: 20px 30px 20px 0px;
    display: inline;
    margin-right: 40px ;
    float: right;
    font-size: 30px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    align-items: center;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      text-align: center;
        text-decoration: none;
        white-space: nowrap;
        vertical-align:middle;
        cursor: pointer;
        font-family: inherit;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  .ec-nav .navbar {
    position: static;
  }
  .p-0 {
    padding: 0!important;
  }
 .welcome {
    background: linear-gradient(15deg, #2C4CA4 50%, #3F65B3 50.1%);
    height: 400px; 
 }
 .welcome  .intro {
     margin: 20px auto;
     align-content: center;

    }
    .welcome > .intro h1,h3{
        text-align: center;
        color: #eee;
    }
    .btn-default {
        color: #3F65B3;
        background: #e6e6e6;
        border: 10px;
        border-radius: 5px;
        padding: 12px 24px;
        margin: 0 8px;
        font-size: 18px;
        transition: all 0.5s;
    }
    .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
        color: white;
        background-color: #1CACF4;
        border-color: #adadad;
    }




  /*--------------------
   shopcart //product display
   ---------------------*/
   .shop-card {
    display: inline-block;
    width: 250px;
    background: rgb(206, 206, 216);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    overflow: hidden;
    /*border-radius: 5px;
    padding: 25px;*/
    margin: 20px;
    text-align: center;
  }
  .shop-card .header {
    height: 40px;
    position: relative;
    padding: 20px;
  }
  .shop-card .header .state  {
    position: relative;
    width: 0px;
    height: 0px;
    
  }
  .shop-card .header .new {
    border-top: 35px solid #47be73;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #47be73;
    border-right: 35px solid transparent;
  }
  .shop-card .header .used {
    border-top: 35px solid red;
    border-bottom: 35px solid transparent;
    border-left: 35px solid red;
    border-right: 35px solid transparent;
  }

  
  .shop-card .header .state:before {
    content: "state";
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.3rem;
    font-weight: bold;
    top: -22px;
    left: -22px;
  }
  .shop-card figure {
    color:#2C4CA4#3F65B3;
    margin:0;
    padding:20px;
    overflow: hidden;
    outline: none !important;
  }
  .shop-card figure img {
    margin: -95px 0 -60px;
    width: 100%;
  }
  .shop-card .title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: #23211f;
    margin-bottom: 5px;
  }
  .shop-card .desc {
    font-size: 17px;
    opacity: 0.8;
    margin-bottom: 3px;
  }
  .shop-card .cta {
    padding: 20px 20px 5px;
  }
  
  .shop-card .price {
    float: left;
    color: #3F65B3;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    transition: color 0.3s ease-in-out;
    margin-top: 4px;
  }
  .shop-card .btn {
    position: relative;
    z-index: 1;
    float: right;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3F65B3;
    padding: 12px 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    line-height: 0.95;
    border: none;
    background: none;
    outline: none;
    border: 1px solid #3F65B3;
    border-radius: 20px;
    overflow: hidden;
  }
  .shop-card .btn .bg {
    width: 101%;
    height: 101%;
    display: block !important;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #3F65B3, #2C4CA4);
  }
  .shop-card .btn:hover {
    color: #fff !important;
    border: 1px solid transparent !important;
  }
  .shop-card .btn:hover .bg {
    opacity: 1;
  }
  /*--------------------
   Slick Dots
   ---------------------*/
  .slick-dots {
    bottom: -30px;
  }
  .slick-dots a {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
  }
  .slick-dots span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .slick-dots circle {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 39 39;
    stroke-dashoffset: 39;
    transition: all 0.9s ease-in-out;
    transition: stroke-dashoffset 0.5s;
  }
  .slick-dots .slick-active circle {
    stroke-dashoffset: 0;
  }
  /*--------------------
   Background
   --------------------*/
  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
    z-index: 1;
    display: none;
  }
  
  
  /*--------------------
   Footer section
   ---------------------*/

  .footer__page{
    
    background-color: #2C4CA4;
    padding-top: 1.5rem;
    width: 100%;
}


.copyright{
    align-content: center;
    text-align: center;
    color: #fff;
}


  
.bg-dark {
    background-color: #1e2022!important;
    color: #fff;
}
.bg-dark {
    background-color: #1e2022;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.bg-dark {
    background-color: #343a40!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}



/*--------------------
   Login sign up
   ---------------------*/

input {
    border: none;
  }
  
  button:focus {
    outline: none;
  }
  
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
  }
  
  ::-webkit-input-placeholder .input-line:focus +::input-placeholder {
    color: #fff;
  }
  
  .highlight {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    cursor: pointer;
    transition: color .2s ease;
  }
  
  .highlight:hover {
    color: #fff;
    transition: color .2s ease;
  }
  
  .spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color:#2C4CA4;
  }
  
  .input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .ghost-round {
    cursor: pointer;
    background: none;
    border: 1px solid#2C4CA4;
    border-radius: 25px;
    color:#3F65B3;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .signup__ghost-round:hover {
    background: #3F65B3;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .signup__input-line {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .full-width {
    width: 100%;
  }
  
  .signup__input-fields {
    margin-top: 25px;
  }
  
  .signup__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 30px;
    
    height: auto;
  }
  
  .signup__content {
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 5;
  }
  
  .signup__welcome {
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
  }
  
  .signup__subtitle {
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }
  
  .signup__menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
  }
  
  .signup__window {
    z-index: 100;
    color: #fff;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
  }
  
  .signup__overlay {
    background: #3F65B3;
    background: #2C4CA4;
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
  }
  .login__overlay {
    background: #3F65B3;
    background: #2C4CA4;
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
  }
  
  .signup__bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity:0.1;
      background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
    background-size:cover;
  }
  
  @media (max-width: 500px) {
    .signup__window {
      width: 100%;
      height: 100%;
    }
    .signup__overlay {
      width: 100%;
      height: 100%;
    }
  }
  